.wrapper {
  display: flex;
  flex-direction: column;
  width: 773px;
  margin: 0 auto;
  padding: 40px 0 44px;

  @include m.resolution(laptop) {
    width: 773px;
    flex-direction: column;
  }

  @include m.resolution(tablet) {
    margin: 40px 50px 0 50px;
    width: calc(100% - 100px);
  }

  @include m.resolution(mobile) {
    padding: 20px 0 20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .pagination {
    align-self: center;
    margin: 104px 0 0;
  }

  .notFound {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    @include m.resolution(tablet) {
      margin: 50px auto;
    }

    @include m.resolution(mobile) {
      margin: 20px auto;
    }

    .img {
      @include m.resolution(mobile) {
        width: 200px;
      }
    }

    .text {
      text-align: center;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
    }
  }
}
