.wrapper {
  margin: 40px auto 0 auto;
  width: 1116px;
  display: flex;
  gap: 28px;

  @include m.resolution(laptop) {
    width: 773px;
    flex-direction: column;
  }

  @include m.resolution(tablet) {
    margin: 40px 50px 0 50px;
    width: calc(100% - 100px);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
