.wrapper {
  display: flex;
  justify-content: space-between;
  width: 723px;
  background: v.$white;
  border: 1px solid v.$grey-200;
  border-radius: 12px;
  padding: 22px;

  @include m.resolution(tablet) {
    width: calc(100% - 50px);
  }

  .main {
    display: flex;
    flex-direction: column;
    gap: 8px;

    @include m.resolution(tablet) {
      margin: 0 50px 0 0;
      width: 100%;
    }

    .profession span span {
      @include m.resolution(tablet) {
        width: 100% !important;
      }
    }

    .conditions {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 100%;

      .money {
        width: 40%;

        span span {
          @include m.resolution(tablet) {
            width: 100% !important;
          }
        }
      }

      .circle {
        @include m.resolution(small-mobile) {
          display: none;
        }
      }

      .type_of_work {
        width: 40%;

        span span {
          @include m.resolution(tablet) {
            width: 100% !important;
          }
        }

        @include m.resolution(small-mobile) {
          display: none;
        }
      }
    }

    .place {
      display: flex;
      align-items: center;
      gap: 15px;

      .town {
        width: 40%;
        margin: 5px 0 0 0;

        span span {
          @include m.resolution(tablet) {
            width: 100% !important;
          }
        }
      }
    }
  }

  .star {
    height: 25px;
  }
}
