.wrapper {
   width: 273px;
   height: 318px;
   background: var(--white);
   border: 1px solid var(--grey-200);
   border-radius: 12px;
   padding: 20px;
   display: flex;
   flex-direction: column;
   gap: 20px;

   .topic {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 0 12px 0;

      .name {
         font-weight: 700;
         font-size: 20px;
         line-height: 20px;
         color: var(--black);
      }

      .button {
         display: flex;
         gap: 4px;

         .text {
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: var(--grey-500);
         }
      }
   }

   .job {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .text {
         font-weight: 700;
         font-size: 16px;
         line-height: 19px;
         color: var(--black);
      }

      .input::placeholder {
         color: red;
      }
   }

   .salary {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .text {
         font-weight: 700;
         font-size: 16px;
         line-height: 19px;
         color: var(--black);
      }
   }
}