@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
   background-color: #F7F7F8;
}

:root {
   --white: #ffffff;
   --grey-100: #F5F5F6;
   --grey-200: #EAEBED;
   --grey-300: #D5D6DC;
   --grey-500: #ACADB9;
   --grey-600: #7B7C88;
   --black: #232134;
   --blue-600: #3B7CD3;
   --blue-500: #5E96FC;
   --blue-400: #92C1FF;
   --blue-300: #B7D6FF;
   --blue-200: #C9E0FF;
   --blue-100: #DEECFF;
   font-family: "Inter", sans-serif;
}